.loginparent {
    width: 100%;
    height: 500px;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .65);
    }


    .loginformparent {
        width: 390px;
        border-radius: 10px;
        overflow: hidden;

        .wrapper {
            padding-bottom: 20px;

            .msg {
                margin-top: 15px;
                border: 1px solid #fff;
                color: #ff0;
                border-radius: 4px;
                font-size: 20px;
            }

            .jmdloginlogo {
                width: 180px;
                height: 65px;
            }
        }

        .form_ {
            overflow: hidden;
            background-color: #fff;
            border-radius: 10px;
            padding: 5px 0 20px 0;

            .MuiFormControl-root {
                .MuiInputBase-root {
                    background-color: #fff;

                    &:focus-visible {
                        border-bottom: 0px;
                    }

                }
            }
        }


    }
}