.table-new{
    margin: 18px 0px;
    tr {
        background-color: #fff;
        font-size: 13px;
    }
    td {
        border-left: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        font-size: 12px;
    font-weight: 700;
    }
    .FontTextWhite10px {
        color: #fff;
        text-align: center;
        background-color: #888399;
        font-family: Verdana, Geneva, sans-serif;
        border: none;
    }
}